<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<script src="../../resources/js/tripdisplay.js"></script>
<script src="../../resources/js/homepage.js"></script>
<head>
    <link rel="stylesheet" href="../../resources/css/homepage.css">
</head>
<h2 id="Title">Trips</h2>
<main>
    <section id="current-trips">
        <h2>Current Trips</h2>
        <% let count = 0; %>
        <% for(var i=0; i < Data.length; i++) { %>
            <% for(var j=0; j < Data[i].length; j++) { %>
            <div class="trip-card" id="card-<%=i%>">
                <h3><%=Data[i][j].nickname%></h3>
                <p><strong>From:</strong> <%=Data[i][j].destination%></p>
                <p><strong>To:</strong> <%=Data[i][j].original_location%></p>
                <p><strong>Driver:</strong> <%=Data[i][j].driverid%></p>
                <% if(Data[i][j].driverid == User){ %>
                    <button type="button" onclick="cancelTrip('<%-count%>','<%-Data[i][j].trip_id%>',false)">Cancel Trip</a>
  
                  <% } else{ %>  
                    <button type="button" onclick="cancelTrip('<%-count%>','<%-Data[i][j].trip_id%>',true)">Leave Trip</a>
                        <% if (Data[i][j].payment_req == true) { %>
                            <form action="/payment/<%-Data[i][j].driverid%>" id = "payment-button" method="GET">
                              <input type="hidden" name="value" value="5.00">
                              <input type="hidden" name="recipient" value="<%-Data[i][j].driver_email%>">
                              <button type="submit">Pay for Trip</button>
                            </form>
                          <% } %>
                    <button type="button" onclick="cancelTrip('<%-count%>','<%-Data[i][j].trip_id%>',true)">Leave Trip</a>   
                 <% } %>
                <button type="button" style="background-color: blue; margin-left: 10px;" onclick="toggle_visibility('<%-count%>','<%-Data[i][j].trip_id%>','<%-Data[i][j].nickname%>','<%-Data[i][j].driverid%>','<%-Data[i][j].destination%>','<%-Data[i][j].original_location%>','<%-Data[i][j].leaving_time%>');">More details</button>
            </div>
            <% count++; %>
            <% } %>
        <% } %>
    </section>
    <section id="register-trip">
        <h2>Want to make a new trip?</h2>
        <a class="btn btn-secondary btn-lg" href="/createTrip" role="button">Create a Trip!</a>
    </section>
</main>
<%- include ('../partials/footer') %>
<%- include('../partials/modal'); %>