<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<head>
    <link rel="stylesheet" href="../../resources/css/profile.css">
</head>
<body>
    <div class="container">
        <img src="" alt="Profile Picture Here">
    </div>
    <div class="profileinfo-container">
        <h4>Username: <%= user.username %></h4>
        <h4>Firstname: <%= user.first_name %></h4>
        <h4>Lastname: <%= user.last_name %></h4>
        <h4>Email: <%= user.email %></h4>
    </div>
    <div class="tripinfo-container">
        <h4>Trips Completed: </h4>
        <h4>Total Distance Travelled: </h4>
        <h4>Average Rating: </h4>
    </div>
</body>
<%- include ('../partials/footer') %>